@charset "UTF-8";
/* Fontes - Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

  :root {
    --font1:"Passion One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font2:"Sriracha", 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: #b8c8c844;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header > h1 {
    font-family: var(--font1);
    font-size: 42px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section > pre {
    white-space: pre-line;
}

section pre p { 
    font-family:var(--font2);
    font-size: 19px;
    margin-left: 20px;
}

section.normal {
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.11);
    color: #ffffff;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.458);
}

section.imagem > pre > p {

    padding: 5px 5px 35px 15px;
    max-width: 240px;
    background-color: rgba(0, 0, 0, 0.467);
    box-shadow: 1px 1px 0px black;
}

section#img1 {
    background: rgba(0, 0, 0, 0.088) url('../imagens/background001.jpg') right center/cover repeat fixed;  
}

section#img2 {
    background: #0000002b url('../imagens/background002.jpg') right center/cover repeat fixed;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}